# 섹션1. 파이썬 기초 문법(선수지식)

In [1]:
2+3

5

### 변수명 정하기
1. 영문과 숫자, _ 로 이루어진다.
2. 대소문자를 구분한다.
3. 문자나 , _ 로 시작한다.
4. 특수문자를 사용하면 안된다. (&, % 등)
5. 키워드를 사용하면 안된다.(if, for 등)

In [2]:
a = 1
print(a)

1

In [6]:
A = 2
c = 5
print(a)
print(A)
print(c)

1
2
5

In [7]:
A1 = 3
print(a, A, A1)

1 2 3

In [8]:
# 에러
2B = 4

SyntaxError: invalid decimal literal (3479405284.py, line 2)

In [11]:
_b = 4
print(a, A, A1, _b)

1 2 3 4

In [ ]:
'''
여러 줄 주석처리
'''

# 한 줄 주석처리

In [13]:
# 동시에 3개의 변수 선언 및 값 넣기
a, b, c = 3, 2, 1

# 변수값을 새로 설정하면 기존 값이 사라지고 새로운 변수값으로 들어간다.
print(a, b, c)

3 2 1

In [14]:
# 값 교환
a, b = 10, 20
print(a, b)

10 20

In [15]:
a, b = b, a
print(a, b)

20 10

In [19]:
# 변수 타입
a = 12345234143251
print(a)
print(type(a))

12345234143251
<class 'int'>

In [24]:
a = 12.1233456789123456789
# 8바이트 까지만 허용
# 8바이트가 넘어가면 손실된다.
print(a)
print(type(a))

12.123345678912345
<class 'float'>

In [27]:
a = 'student'
print(a)
print(type(a))

b = 'student2'
print(b)
print(type(b))

student
<class 'str'>
student2
<class 'str'>

In [28]:
# 출력방식
print("number")

number

In [36]:
a, b, c = 1, 2, 3
print(a, b, c)
print("number : ", a, b, c)
print(a, b, c, sep=', ')
print(a, b, c, sep='\n')
print(a)
print(b)
print(c)
print(a, end=' ')
print(b, end=' ')
print(c, end=' ')

1 2 3
number :  1 2 3
1, 2, 3
1
2
3
1
2
3
1 2 3