## 7. 리스트와 내장함수 2

In [1]:
a = [23, 12, 36, 53, 19]

In [2]:
# 리스트 슬라이스(0번부터 2번까지)
print(a[:3])
print(a[1:4])

[23, 12, 36]
[12, 36, 53]

In [3]:
# 리스트 길이 구하기
print(len(a))

5

In [4]:
# 리스트 값 하나씩 접근하기: for
for i in range(len(a)):
    print(a[i], end=' ')

23 12 36 53 19

In [5]:
for x in a:
    print(x, end=' ')

23 12 36 53 19

In [6]:
# 리스트 값 중 홀수만 출력
for x in a:
    if x%2 == 1:
        print(x, end=' ')

23 53 19

In [7]:
# 리스트를 튜플 구조(인덱스, 값)로 출력: enumerate
'''
인덱스: 값
0: 23
1: 12
2: 36
3: 53
4: 19
'''
for x in enumerate(a):
    print(x)

(0, 23)
(1, 12)
(2, 36)
(3, 53)
(4, 19)

In [8]:
# 튜플 초기화
b = (1, 2, 3, 4, 5)
print(b[0])

1

In [9]:
# 리스트와 차이점: 튜플은 값 수정이 불가능
b[0] = 7
print(b[0])

TypeError: 'tuple' object does not support item assignment

In [12]:
# 튜플 원소 값 접근: for, enumerate
for x in enumerate(a):
    print(x[0], x[1])

0 23
1 12
2 36
3 53
4 19

In [13]:
# enumerate 주로 사용하는 방법: for
for index, value in enumerate(a):
    print(index,value)

0 23
1 12
2 36
3 53
4 19

In [14]:
# 모든 값 조건 비교1: all()
#for문이 a 리스트에 하나씩 접근하면서 60>x 조건에 모두 참인가?
if all(60>x for x in a):
    print("Lucky1")
#하나라도 거짓이라면
else:
    print("Fail1")
    
    
if all(50<x for x in a):
    print("Lucky2")
else:
    print("Fail2")

Lucky1
Fail2

In [15]:
# 모든 값 조건 비교2:any()
#for문이 a 리스트에 하나씩 접근하면서 60>x 조건에 하나라도 참인가?
if any(60>x for x in a):
    print("Lucky1")
else:
    print("Fail1")
    
    
if any(50<x for x in a):
    print("Lucky2")
else:
    print("Fail2")

Lucky1
Lucky2